/* Navbar responsive start */
/* For Mobile */
@media screen and (max-width:576px) {

    .nav-container {

        flex-direction: column;

    }

    .menu-container {

        flex-direction: column;
        width: 100%;

    }

    .menu-container a {
        margin-top: 20px;
    }

    .menu-container p {
        width: 100%;
        margin-bottom: 10px;
    }

    /* Navbar responsive End */

    /* Banner responsive start */
    .banner-container {
        flex-direction: column;
    }

    .banner-content,
    .banner-img {
        width: 100%;
    }

    .banner-content h2 {
        font-size: 15px;
    }

    .banner-content h1 {
        font-size: 30px;
    }

    /* Banner responsive end */
    .games-container {

        grid-template-columns: 1fr;

    }

    .game img {
        width: 100%;
    }

    .play-game-container {
        flex-direction: column;
    }

    .play-game-content {
        width: 100%;
    }

    .play-game-img {
        width: 100%;
    }

}